header {
    display: flex;
    position: fixed;
    height: 67px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: #C3CFD9;
}

header h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #E8833A;
    font-family: 'Roboto', sans-serif;
}